PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@contact-manager-clutste.qgtrwl5.mongodb.net/?appName=contact-manager-clutster
REDIS_URL=redis://localhost:6379

# EmailJS (Free)
EMAILJS_SERVICE_ID=serviy0cu7h
EMAILJS_TEMPLATE_ID=templateju5u
EMAILJS_PUBLIC_KEY=Zh6ZKtLQzzMCT
EMAILJS_PRIVATE_KEY=tJmF4yNyITThPwGXv   # Optional but recommended for backend

# JWT
JWT_SECRET=medi-sync-super-secret-key-2026

# Optional for Omium
OMIUM_API_KEY=your_omium_key_here
